
div.header {
    min-width:  600px;
    width:      75%;
}

div.main {
    display:    flex;
    min-width:  600px;
    overflow:   auto;
    position:   relative;
    width:      75%;
}

div.sidebar {
    width:          33%;
    margin-left:    5px;
}



div.posts {
    width:  65%;
}

div {
    border:         solid black 1px;
    margin:         5px;
    margin-left:    auto;
    margin-right:   auto;
    padding:        5px;
}